<h4>Cargue perezoso </h4>
<hr>
<form autocomplete="off"  [formGroup]="forma">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Cédula</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Ingrese su Cédula"
               formControlName="cedula"
               [class.is-invalid]="cedulaNovalido">
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Archivos</label>
        <div class="col">

          <input class="form-control"
                 type="file"
                 formControlName="file"
                 (change)="CargarArchivo($event)"
                 [class.is-invalid]="validarArchivo">
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-secondary btn-lg" (click)="GuardarArchivo()"  value="Cargar archivo">
        Enviar
      </button>
    </div>
  </div>
</form>
